{% extends "index.html" %}
{% block content %}

<div class='container-fluid'>
    <div class="jumbotron">

        {% if generated %}
            <div class="jumbotron">
                <img src="{{generated}}" />
            </div>
        {% else %}
            <form method=post enctype=multipart/form-data>

                <div class="input-group">
                    <input type="text" class="form-control input-file-dummy" placeholder="Choose content image" aria-describedby="fileHelp" required>
                    <div class="valid-feedback order-last">File is valid</div>
                    <div class="invalid-feedback order-last">File is required</div>
                    <label class="input-group-append mb-0">
                      <span class="btn btn-primary input-file-btn">
                        Browse… <input name='content' type="file" hidden>
                      </span>
                    </label>
                  </div>
                  <small id="fileHelp" class="form-text text-muted">JPEG or PNG files</small>
                <div class="form-group">

                <div class="input-group">
                <input type="text" class="form-control input-file-dummy" placeholder="Choose style image" aria-describedby="fileHelp" required>
                <div class="valid-feedback order-last">File is valid</div>
                <div class="invalid-feedback order-last">File is required</div>
                <label class="input-group-append mb-0">
                    <span class="btn btn-primary input-file-btn">
                    Browse… <input name='style' type="file" hidden>
                    </span>
                </label>
                </div>
                <small id="fileHelp" class="form-text text-muted">JPEG or PNG files</small>

                <div class="form-group">
                    <label for="customRange3" class="form-label">Increase style influence (takes longer) </label>
                    <input name="iters" type="range" class="form-range" min="1" max="4" step="1" value="1" id="customRange3">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-lg" type="submit" target="_blank" role="button" value="Stylize!">
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}